<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style1.css" type="text/css">
    <script src="addExercise.js" defer></script>
    <title>Add</title>
</head>
<body>
    <div class="add-container">
        <table>
            <thead>
                <th>
                    <form action="../addExercise/search" method="GET">
                        <input type="text" name="query" placeholder="Search...">
                    </form>
                </th>
            </thead>

            <tr class="blank-row">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% exercises.forEach(exercise => { %>
            <tr>
                <td><%= exercise.name %></td>
                <td><%= exercise.muscle %></td>
                <td><button class="add-btn" data-id="<%= exercise.id %>">+</button></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>