<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style1.css" type="text/css">
    </head>

    <body>
        <div class="mainHeader">
            <img class="logo" src="../../assests/images/lockNWhite-01.png">
            <br>
            <% if (user) { %>
                <a href="/logout" class="login">Logout</a>
            <% } else { %>
                <a href="/login" class="login">Login</a>
            <% } %>
        </div>
        <div class="flex-container">
            <div class="card">
                <h2>WORKOUTS</h2>
                <p>Build a training plan that will help track workouts.</p>
                <a href="/plan"></a>
            </div>

            <div class="card">
                <h2>DAILY TASKS</h2>
                <p>Make a to-do list to make sure you never forget what needs to get done.</p>
                <a href="/tasks"></a>
            </div>

            <div class="card">
                <h2>GOALS</h2>
                <p>Track long term goals and see your progress over time.</p>
                <a href="/goals"></a>
            </div>
        </div>
    </body>
</html>