<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style1.css" type="text/css">
    </head>

    <header>
        <%- include ('partials/header') %>
        <% if (user) { %>
            <a href="/logout" class="login">Logout</a>
        <% } else { %>
            <a href="/login" class="login">Login</a>
        <% } %>
    </header>

    <body>
        <div class="flex-container">
            <div>
                <h2>Training Plans</h2>
                <p>Customized workout routines to help you achieve your fitness goals.</p>
            </div>

            <div>
                <h2>Workout Tracking</h2>
                <p>Log your exercises, sets, reps, and weights to monitor your progress over time.</p>
            </div>

            <div>
                <h2>Nutrition</h2>
                <p>Meal planning and nutritional guidance to complement your training regimen.</p>
            </div>
        </div>
    </body>
</html>