<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style1.css" type="text/css">
    </head>

    <header>
        <%- include ('partials/header') %>
    </header>

    <body>
        <div class="flex-container">
            <div class="card">
                <h2>Training Plans</h2>
                <p>Customized workout routines to help you achieve your fitness goals.</p>
                <a href="/planSelection"></a>
            </div>

            <div class="card">
                <h2>Workout Tracking</h2>
                <p>Log your exercises, sets, reps, and weights to monitor your progress over time.</p>
                <a href="/track"></a>
            </div>

            <div class="card">
                <h2>Nutrition</h2>
                <p>Meal planning and nutritional guidance to complement your training regimen.</p>
                <a href="/nutrition"></a>
            </div>
        </div>
    </body>
</html>