<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style1.css" type="text/css">
    <title>Plan</title>
</head>

<header>
        <%- include ('partials/header') %>
</header>

<body>
    <form action="/plan/edit" method="GET">
        <button class="add-workout-btn">+ADD WORKOUT</button>
    </form>
    <div class="plan-container">
        <% workoutNames.forEach(name => { %>
            <% if (name.name != null) { %>
            <table>
                <thead>
                    <th colspan="1">
                        <%= name.name %>
                        <button style="float: right; margin-left: -50%;">&#9998</button> 
                    </th>
                </thead>
                <tbody>
                    <% workouts.forEach(workout => { %>
                        <% if (workout.name == name.name && workout.name != null) { %>
                            <tr>
                                <td colspan="3">
                                    <%= workout.exercise_name %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        <% }) %>
    </div>
</body>
</html>