<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style1.css" type="text/css">
    <title>Training Plan</title>
</head>
<body>
    <div class="plan-option">
        <div class="card">
            <h2>Custom</h2>
            <p>Geared towards advanced lifters who want to make their own training plan</p>
            <a href="/plan/custom"></a>
        </div>

        <div class="card">
            <h2>Guided</h2>
            <p>Made for beginner or intermediate lifters looking to get guidance on their training plan</p>
        </div>
    </div>
</body>
</html>