<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style1.css" type="text/css">
    <title>Plan</title>
</head>
<body>
    <div class="plan-container">
        <table>
            <tr>
                <th>Monday</th>
            </tr>

            <tr>
                <td><a href="/addExercise"><button>+</button></a></td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <tr>
                <th>Tuesday</th>
            </tr>

            <tr>
                <td><button>+</button></td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <tr>
                <th>Wednesday</th>
            </tr>

            <tr>
                <td><button>+</button></td>
            </tr>
        </table>
    </div>
</body>
</html>