@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}

body::after {
  content: "";
  background: url(../assests/images/plastic-texture.jpg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.logo {
    max-width: 10vh;
}
.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 1vh;
}

.card {
    background-color: #4D4D4DB3;
    text-align: center;
    margin: 5vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    position: relative;
    width: 50vh;
    height: 55vh;
}

.card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.4s;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: #e5ddff;
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.login {
    font-size: 20px;
    color: white;
}

div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plan-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200; 
    font-size: 18px;
    color: white;
} 

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: white;
    font-size: 50px;
    margin-top: -5px;
}

@media screen and (max-width: 600px) {
    div.flex-container {
        flex-direction: column;
    }
}

.login-container {
    width: 30%;
    height: 35%;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    background-image: linear-gradient(to right, #443C68, #393053, #443C68);
    border-color: #635985;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-container table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

.plan-container th {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background-color: #3d3d3db3;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
}

.plan-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.plan-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: 200;
}

.plan-container button {
    padding: 1vh 2vh;
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
}

.plan-container button:hover {
    background-color: rgb(27, 27, 27);
}

.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.add-container table {
    border-collapse: collapse;
    width: 40%;
    margin-top: 20px;
}

.add-container th {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background-color: #3d3d3db3;
    font-size: 30px;
    padding: 10px;
}

.add-container tr {
    background-color: #4D4D4DB3;
}

.add-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.add-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

.add-container .add-btn {
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #4D4D4DB3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}