html {
    background-color: #18122B;
    background-size: cover;
}

@font-face {
    font-family: "TitleText";
    src: url(../fonts/AldotheApache.ttf);
}

.mainHeader {
    background-image: linear-gradient(to right, #443C68, #393053, #443C68);
    border-color: #635985;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.card {
    background-image: linear-gradient(to right, #443C68, #393053, #443C68);
    border-color: #635985;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;
}

.card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.4s;
}

h1 {
    font-family: 'TitleText', serif;
    color: #e5ddff;
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.login {
    font-size: 20px;
    color: white;
}

div.flex-container {
    display: flex;
    flex-direction: row;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #e5ddff
}

h2 {
    font-family: 'TitleText', serif;
    color: #e5ddff;
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    div.flex-container {
        flex-direction: column;
    }
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
}

.login-container {
    width: 30%;
    height: 35%;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    background-image: linear-gradient(to right, #443C68, #393053, #443C68);
    border-color: #635985;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}