@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}

body::after {
  content: "";
  background: url(../assests/images/plastic-texture.jpg);
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.logo {
    max-width: 10vh;
}
.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 1vh;
}

.leaderboard-path {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.leaderboard-path .arrow {
    position: relative;
    top: 0.03em;
    font-size: 1.5em;
    left: 0.1em;
}

.leaderboard-path a {
    text-decoration: none;
}

.home-rank {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 10rem;
    color: white;
}

.home-rank p {
    font-size: 3rem;
    margin: -3vh;
}

.card {
    background-color: #4D4D4DB3;
    text-align: center;
    margin: 5vh;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    position: relative;
    width: 50vh;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card a {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: transform 0.4s;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: #e5ddff;
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.login {
    font-size: 20px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plan-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200; 
    font-size: 18px;
    color: white;
} 

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: white;
    font-size: 50px;
    margin-top: -5px;
}

@media screen and (max-width: 600px) {
    div.flex-container {
        flex-direction: column;
    }
}

.login-container {
    width: 30%;
    height: 35%;
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    background-color: #4D4D4DB3;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container input {
    display: flex;
    justify-content: center;
    background-color: #4D4D4D;
    border: none;
    margin: 1vh;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3vh;
    width: 50vh;
}

.login-container button {
    padding: 1vh 2vh;
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    width: 50vh;
    margin: 2vh;
}

.login-container a {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.task-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container input {
    background-color: #4D4D4D;
    border: none;
    margin: 1vh;
    margin-left: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vh;
    width: 93vh;
    color: white;
}

.plan-container input:focus {
    outline: none;
}

.plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plan-container table {
    border-collapse: collapse;
    width: 50%;
    margin: 1vh;
}

.plan-container thead th {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background-color: #3d3d3db3;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}

.plan-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.plan-container tr {
    background-color: #535353b3;
}

.plan-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    font-weight: 200;
}

.plan-container button {
    font-size: 3vh;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: center;
}

.plan-container button:hover {
    background-color: rgb(27, 27, 27);
}

.add-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-container table {
    border-collapse: collapse;
    margin-top: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.add-container thead {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background-color: #3d3d3d;
    font-size: 30px;
    padding: 10px;
    display: table;
    table-layout: fixed;
    width: 80vh;
}

.add-container tbody {
    display: block;
    height: 65vh;
    overflow-y: scroll;
}

.add-container tbody tr {
    display: table;
    table-layout: fixed;
    width: 80vh;
}

.add-container th td {
    width: auto;
}

.add-container tr {
    background-color: #4D4D4DB3;
}

.add-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.add-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

.add-container .add-btn {
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #4D4D4DB3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-container input {
    background-color: #4D4D4D;
    border: none;
    margin: 1vh;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3vh;
    width: 100%;
    height: 5vh;
}

.add-container button {
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    width: 10vh;
    margin: 1vh;
    height: 5vh;
}

.add-container form {
    display: flex;
    flex-direction: row;
}

.add-workout-btn {
    top: 0;
    left: 0;
    position: absolute;
    margin: 3%;
    background-color: transparent;
    font-family: 'IBM Plex Mono', monospace;
    border: none;
    color: white;
    font-size: 5vh;
}

.confirm-workout {
    top: 0;
    right: 0;
    position: absolute;
    margin: 3%;
    background-color: transparent;
    font-family: 'IBM Plex Mono', monospace;
    border: none;
    color: white;
    font-size: 5vh;
}

.add-workout-btn:hover {
    cursor: pointer;
}

.goals-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:baseline;
}

.goals-container input {
    background-color: #4D4D4D;
    border: none;
    margin: 1vh;
    margin-left: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5vh;
    width: 55vh;
    color: white;
}

.goals-container input:focus {
    outline: none;
}

.goals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goals-container table {
    border-collapse: collapse;
    width: 50%;
    margin: 1vh;
}

.goals-container thead th {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    background-color: #3d3d3db3;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}

.goals-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.goals-container tr {
    background-color: #535353b3;
}

.goals-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    font-weight: 200;
}

.goals-container button {
    font-size: 3vh;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: center;
}

.goals-container button:hover {
    background-color: rgb(27, 27, 27);
}

.leaderboard-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard-container table {
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-container thead {
    background-color: #3d3d3d;
    display: table;
    table-layout: fixed;
    width: 60vh;
}

.leaderboard-container tbody {
    display: block;
    height: 50vh;
    overflow-y: scroll;
}

.leaderboard-container tbody tr {
    display: table;
    table-layout: fixed;
    width: 60vh;
}

.leaderboard-container th td {
    width: auto;
}

.leaderboard-container tr {
    background-color: #4D4D4DB3;
}

.leaderboard-container tr:nth-child(even) {
    background-color: #4D4D4DB3;
}

.leaderboard-container td {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.leaderboard-container .subheader {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    color: white;
    padding: 2em;
    text-align: center;
}

.leaderboard-container .theader {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3rem;
    color: white;
}

.leaderboard-container th {
    font-weight: normal;
}

.leaderboard-flex {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: center;
}