html {
    background-color: #000;
    background-size: cover;
}

@font-face {
    font-family: "TitleText";
    src: url(../fonts/AldotheApache.ttf);
}

.mainHeader {
    background-color: rgb(51, 51, 51);
    padding: 10px;
    text-align: center;
    color: white;
    margin: 10px;
}

h1 {
    font-family: 'TitleText', serif;
    color: white;
    text-align: center;
    font-size: 100px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.login {
    font-size: 20px;
    color: white;
}

div.flex-container {
    display: flex;
    flex-direction: row;
}

div.flex-container > div {
    margin: 10px;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 20px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

h2 {
    font-family: 'TitleText', serif;
    color: white;
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    div.flex-container {
        flex-direction: column;
    }
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
}

.login-container {
    width: 30%;
    height: 35%;
    margin: auto;
    padding: 10px;
    padding-top: 0px;
    background-color: rgb(51, 51, 51);
    text-align: center;
}